<action-bar></action-bar>
<StackLayout class="page">
	<ListView eparatorColor="transparent" [items]="skills">
		<ng-template let-item="item">
			<GridLayout class="box" columns="auto, *, auto" rows="auto">
<!-- 				<Image col=0 row=0 res=""></Image>
				<Label col=1 row=0 class="h1" text="{{ item.name }}"></Label>
				<Switch col=2 row=0 class="switch" [(ngModel)]="item.enabled" (checkedChange)="onSkillEnabled($event, item)"></Switch> -->
			</GridLayout>
		</ng-template>
	</ListView>
</StackLayout>