<ActionBar title="Settings" class="action-bar"></ActionBar>
<GridLayout columns="*" rows="*,auto">
	<StackLayout col=0 row=0><ScrollView>
		<StackLayout padding=5,10>
			<Label marginTop=5 text="Domain:"></Label>
			<TextField marginBottom=20 [(ngModel)]="ui.domain"></TextField>
			<!-- <Label text="Password:"></Label>
			<TextField [(ngModel)]="ui.password"></TextField> -->
		</StackLayout>
	</ScrollView></StackLayout>
	<GridLayout padding=5,10 col=0 row=1 columns="auto,*,auto" rows="auto">
		<Button text='cancel' class="btn-outline" col=0 row=0 (tap)="navigate()"></Button>
		<Label 	col=1 row=0 text=''></Label>
		<Button text='ok' class="btn-primary" col=2 row=0 (tap)="ok()"></Button>
	</GridLayout>
</GridLayout>