<ActionBar title='{{ isNew ? "Add Routine" : "Edit Routine" }}' class='action-bar'></ActionBar>
<GridLayout class="page" columns="*" rows="*, auto">
	<ScrollView col=0 row=0>
		<StackLayout padding=10>

			<Label class="h4" text="Name"></Label>
			<TextField [(ngModel)]="routine.name"></TextField>
			
			<Label verticalAlignment="center" col=0 row=0 class="h4" text="Skills to run"></Label>
			<StackLayout>
				<StackLayout orientation="horizontal" (tap)="pickSkill()">
					<Label verticalAlignment="center" class="h4" text="+ "></Label>
					<Label verticalAlignment="center" text="Add a skill"></Label>
				</StackLayout>
				<GridLayout class="box" *ngFor="let skill of routine.skills" columns="auto, *, auto" rows="auto">
					<Label verticalAlignment="center" col=0 row=0 class="h4" text="{{skill.name}}"></Label>
					<Label col=1 row=0 text=""></Label>
					<Label verticalAlignment="center" col=2 row=0 class="btn btn-outline" text="x" (tap)="removeSkill(skill)"></Label>
				</GridLayout>	
			</StackLayout>
			
			<GridLayout columns="auto, *, auto" rows="auto">
				<Label verticalAlignment="center" col=0 row=0 class="h4" text="Recurring"></Label>
				<Label col=1 row=0 text=""></Label>
				<Switch verticalAlignment="center" col=2 row=0 class="switch" [(ngModel)]="routine.recurring"></Switch>
			</GridLayout>

			<GridLayout class="days" [visibility]="routine.recurring ? 'visible' : 'collapse' " columns="*,*,*,*,*,*,*" rows="auto">
				<Label horizontalAlignment="center" col={{i}} row=0 *ngFor="let i of [0,1,2,3,4,5,6]"  (tap)="routine.days[i] = !routine.days[i]" text="{{days[i]}}" class="{{ routine.days[i] ? 'selected-day day' : 'day'}}"></Label>
			</GridLayout>

			<GridLayout [visibility]="!routine.recurring ? 'visible' : 'collapse' " columns="auto, *, auto" rows="auto">
				<Label verticalAlignment="center" col=0 row=0 class="h4" text="Date"></Label>
				<Label col=1 row=0 text=""></Label>
				<Label verticalAlignment="center" col=2 row=0 text="{{ dayDisplay }}" (tap)="pickDate()"></Label>
			</GridLayout>

			<TimePicker (timeChange)="onTimeChanged($event)" verticalAlignment="center" class="m-15"></TimePicker>

			<Label class="h4" text="Message"></Label>
			<TextView height="100" [(ngModel)]="routine.message"></TextView>

		</StackLayout>
	</ScrollView>
	<GridLayout col=0 row=1 columns="auto, *, auto" rows="auto">
		<Button col=0 row=0 class="btn btn-outline" text="Cancel" (tap)="cancel()"></Button>
		<Label col=1 row=0 text=""></Label>
		<Button col=2 row=0 class="btn btn-primary" text="Done" (tap)="done()"></Button>
	</GridLayout>

</GridLayout>