<ActivityIndicator [visibility]="loadMask ? 'visible' : 'collapse'" busy="true" marginTop=80 width="50" height="50" class="activity-indicator"></ActivityIndicator>
<GridLayout class="page" columns="*" rows="auto, *">
	<StackLayout class="banner" col=0 row=0>
		<Label color="white" horizontalAlignment="right" class="add-button" (tap)="addRoutine()" text="+"></Label>
	</StackLayout>
	<Label col=0 row=1 text="CONNECTION ERROR" [visibility]="connectionError ? 'visible' : 'collapse'" class="h3" color="#aaaaaa" horizontalAlignment='center' marginTop=130></Label>
	<ScrollView [visibility]="!connectionError ? 'visible' : 'collapse'" col=0 row=1>
		<StackLayout>
				<StackLayout *ngFor="let item of routines">
					<GridLayout class="box" columns="auto, *, auto" rows="auto">
					</GridLayout>
				</StackLayout>
		</StackLayout>
	</ScrollView>
</GridLayout>