/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
@import './custom.css';

.img-round {
	background-color: #4a86e8;
	border-radius: 50;
	padding: 10;
	margin-right: 15;
}

.box {
	margin: 8,15;
	padding: 15;
	background-color: white;
	/*box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5);*/
}

.small-box {
	margin: 5,15;
	padding: 10;
	background-color: white;
	/*box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5);*/
}

.add-button {
	font-size: 30;
	color: white;
}

.banner {
	padding: 5;
	padding-right: 15;
	background-color: #92b3e8;
}

.days {
	margin: 5,0;
	margin-bottom: 15;
	/*border-color: white;
	border-width: 1;*/
	/*border-radius: 20;*/
}

.selected-day {
	color: #4a86e8;
	font-weight: bold;
}

.day {
	padding: 5;
}

.small-txt {
	font-size: 12;
	font-style: italic;
}

.tiny-btn {
	font-size: 11;
	padding: 0;
	height: 25;
	width: 60;
	margin: 0;
}