<ActivityIndicator [visibility]="loadMask ? 'visible' : 'collapse'" busy="true" marginTop=80 width="50" height="50" class="activity-indicator"></ActivityIndicator>
<GridLayout class="page" columns="*" rows="*">
	 <Label col=0 row=0 text="CONNECTION ERROR" [visibility]="connectionError ? 'visible' : 'collapse'" class="h3" color="#aaaaaa" horizontalAlignment='center' marginTop=130></Label>
	 <ScrollView [visibility]="!connectionError ? 'visible' : 'collapse'" col=0 row=0>
		<StackLayout>
				<StackLayout *ngFor="let item of streams">
					<StackLayout class="box">
						<Label class="h4" marginBottom=15 text="{{ item.name }}"></Label>
						<StackLayout *ngFor="let view of item.view" marginBottom=15>
							<GridLayout columns="*,*" rows='auto'>
								<Label text="{{ view.name }}"></Label>
								<Label horizontalAlignment="right" col=1 text="{{ view.data ? (view.data.display ? view.data.display : '') : 0 }}"></Label>
							</GridLayout>
							<Progress marginTop=5 class="progress" [visibility]="view.type=='progress' ? 'visible' : 'collapse'"  [value]="view.data ? (view.data.value ? view.data.value : 0) : 0" max="{{ view.max }}"></Progress>
						</StackLayout>
					</StackLayout>
				</StackLayout>
		</StackLayout>
	</ScrollView>
</GridLayout>