<ActivityIndicator [visibility]="loadMask ? 'visible' : 'collapse'" busy="true" marginTop=80 width="50" height="50" class="activity-indicator"></ActivityIndicator>
<GridLayout class="page" columns="*" rows="*">
	 <Label col=0 row=0 text="CONNECTION ERROR" [visibility]="connectionError ? 'visible' : 'collapse'" class="h3" color="#aaaaaa" horizontalAlignment='center' marginTop=130></Label>
	 <ScrollView [visibility]="!connectionError ? 'visible' : 'collapse'" col=0 row=0>
		<StackLayout>
				<StackLayout *ngFor="let item of streams">
					<GridLayout class="box" columns="auto, *, auto" rows="auto">
<!-- 						<Image verticalAlignment="center" col=0 row=0 (tap)="runSkill(item)" src="res://run" stretch="none" class="img-round"></Image>
						<Label verticalAlignment="center" col=1 row=0 class="h3" text="{{ item.name }}"></Label>
						<Switch col=2 row=0 class="switch" checked="{{item.enabled}}" (checkedChange)="onSkillEnabled($event, item)"></Switch> -->
					</GridLayout>
				</StackLayout>
		</StackLayout>
	</ScrollView>
</GridLayout>